.parent{
    background-color: antiquewhite;
    cursor: pointer;
    border: 1px solid gray;
    margin-left: 10px;
    margin-bottom: 20px;
}
.parent:hover{
    background-color: rgb(192, 211, 156);
    border: 1px solid gray;
    margin-left: 10px;
    margin-bottom: 20px;
}
.parent img{
    width: 150px;
    height: 150px
}
.parent .content h5{
    font-size: 18px;
}
.parent .content p{
    font-size: 16px;
    line-height: 16px;
}
.parent .content p span{
    font-weight: 500;
}